@{
    ViewData["Title"] = "Djair Nascimento";
}
<h1>@ViewData["Title"]</h1>

<p>Eu já trabalhei com diversas tecnologias ao longo destes mais de 15 anos atuando como desenvolvedor, assim como em diversas fases do processo de desenvolvimento, e em cada empresa na qual trabalhei tinha uma forma própria de trabalhar, escolhi esta forma de resolver o desafio pois foi a maneira mais rápida que me coube no pouco tempo que consegui dedicar, mas resolveria de outras formas se necessário.</p>
<p>O que me motiva nesta oportunidade é a possibilidade de me desafiar a crescer ainda mais tecnicamente e poder aprender com o Squad, além da possibilidade de crescimento profissional podendo com o tempo encarar novos desafios em outras posições.</p>
<p>Desde já agradeço a atenção e me coloco a disposição.</p>
<p>Grato</p>
<p>Djair do Nascimento Silva</p>
<p><a href="https://www.linkedin.com/in/djairsilva/">linkedin/djairsilva/</a></p>
